# 二进制文件
/bin/
*.exe
*.dll
*.so
*.dylib

# 测试文件
*.test
*.out

# 依赖目录
/vendor/
/web/node_modules/
/web/package-lock.json

# IDE 相关
.idea/
.vscode/
*.swp
*.swo
*~

# 配置文件
/conf/conf_*
!conf/conf_example.yaml


# 数据目录
/data/

# 日志文件
*.log

# OS 相关
.DS_Store
Thumbs.db

# 临时文件
tmp/
temp/
